@import '../_variables.scss';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
  &__search {
    display: flex;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 9px 15px;

    input {
      border: none;
      margin-left: 5px;
      width: 240px;
    }   
    .clear {
      cursor: pointer;
    } 
  }
}
